
:root {
    --blue: #1e6fd4;
    --purple: #77448A;
    --fontText: oxygenFont, Arial, Helvetica, sans-serif;
    --titleText: balooda, Arial, Helvetica, sans-serif;
    --greyfont: rgb(68, 68, 68);
}

@media (max-width: 1140px) { 
    /* Banner */
    .section .banner .text-banner {
        font-size: 1.5rem;
    }
    
    .section .banner > .img-banner > svg {
        width: 500px;
        overflow: hidden;
    }
    /* End Banner */

    /* Content Design */
    .content-design .content-design-text,
    .content-design .content-text {
       font-size: 1.3rem;
    }

    .content-design .content-design-img > svg {
        width: 500px;
    }
    /* End Content Design */
    

}

@media (max-width: 767.98px) { 

    .nav {
       position: fixed;
    }

    .nav .content-nav-list {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #fff;
        z-index: -1;
        transform: translateY(124px) translateX(100%);
        transition: transform .5s ease;    
    }

    .content-nav-list.active {
        transform:translateY(124px) translateX(0%);
    }

    .nav .content-nav-list ul {
        flex-direction: column;
    }

    .nav .bars {
        display: block;
        color: var(--purple);
        padding: 15px;
        cursor: pointer;
        font-size: 20px;
    }

    .section .banner {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .section .banner > .img-banner > svg,
    .content-design .content-design-img > svg {
        height: 300px;
    }

    .content-design, footer .footer {
        flex-direction: column;
    }

    .footer .content-footer {
       margin-bottom: 20px;
    }

}

@media (max-width: 580px) { 

    .section .banner > .img-banner > svg,
    .content-design .content-design-img > svg {
        width: 400px;
        height: 200;
    }

}